<div id="mainDiv">
  <h2>Sending E-mail to:{{employee!.fname | uppercase}} {{employee!.lname | uppercase}}</h2>
  <br>
  <label for="To">To: </label>
  <input id="To" placeholder="to">
  <br>
  <label for="Cc">Cc: </label>
  <input id="Cc" placeholder="cc">
  <br>
  <label for="Subject">Subject: </label>
  <input id="Subject" placeholder="subject">
  <br>
  <label for="myMsg">My message: </label>
  <textarea id="myMsg" cols="30" rows="10"></textarea>
  <br>
  <button id="sendEmail">Send</button>
</div>